<div id="heading">
  <h1>Continuing Education for Nurses</h1>
  <h2>Fulfill State Requirements for License Renewal and Enhance Your Practice</h2>
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->

<div *ngFor="let course of courses">
  <h3>
    <a
     [title]="course.name + ' details'"
     [routerLink]="['/courses', course.id]">
    {{course.name}}
    </a>
  </h3>

  <p *ngIf="course.description">
    Description: {{ course.description}}
  </p>

  <button (click)="share()">
    Share
  </button>

  <app-course-alerts
    [course]="course"
    (notify)="onNotify()">
  </app-course-alerts>

</div>