<div id="heading-div">
  <h1 class="dark-green-text">Continuing Education for Nurses</h1>
  <h4 class="dark-green-text" id="header-state-requirements">Fulfill State Requirements for License Renewal and Enhance Your Practice</h4>
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
<section class="main-container">
  <div *ngFor="let course of courses" class="course-div">
    <h3 >
      <a
       class="dark-green-text"
       [title]="course.name + ' details'"
       [routerLink]="['/courses', course.id]">
      {{course.name}}
      </a>
    </h3>
  
    <p *ngIf="course.description">
      Description: {{ course.description}}
    </p>
  
    <button (click)="share()" class="home-buttons">
      Share
    </button>

    <button class="home-buttons">
      <a
      [title]="course.name + ' details'"
      [routerLink]="['/courses', course.id]">
     Course Info
     </a>
    </button>
  
    <!-- <app-course-alerts
      [course]="course"
      (notify)="onNotify()">
    </app-course-alerts> -->
  
  </div>
</section>
